.input {
    width: 100%;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid var(--gray);
    color: var(--text-color);
    font-weight: 300;
    line-height: 1.9;
    font-size: 1.406rem;
    padding: 12px 10px;
    transition-property: border-color;
    transition-duration: 200ms;
}

label {
    color: var(--text-color);
}

.input:focus {
    border-color: var(--primary);
    outline: none;
}

textarea.input {
    min-height: 100px;
    resize: vertical;
}