:root {
	--overlay-background: rgba(
		30,
		30,
		30,
		0.8
	); /* Darker transparent background */
	--details-background: #ffffff; /* Background for the details box */
	--details-text-color: #000000; /* Text color for the details box */
	--details-border-color: #333333; /* Border color for the details box */
}

body {
	font-family: "Poppins", sans-serif;
}

.portfolio {
	display: flex;
	gap: var(--gap);
	margin-bottom: 100px;
}

.portfolio-screenshot {
	border-radius: 50%;
	width: clamp(175px, 20vw, 300px);
	height: clamp(175px, 20vw, 300px);
}

.portfolio:nth-child(odd) .portfolio-screenshot {
	order: 1;
}

.ul-details {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.portfolio-details {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: var(--details-background);
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	z-index: 1001;
	color: var(--details-text-color);
	max-width: 90%;
	max-height: 90%;
	overflow-y: auto;
	border-radius: 8px;
	border: 1px solid var(--primary);
	opacity: 1;
}

#section2 li {
	list-style: none;
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--overlay-background);
	z-index: 1000;
}

.overlay.active,
.portfolio-details.active {
	display: block;
}

.btn--expand {
	display: block;
	margin-top: 10px;
	color: var(--text-color);
	background: transparent;
	border: 2px solid var(--text-color);
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer;
}

.btn--expand:hover {
	background: var(--details-border-color);
	color: var(--details-background);
}

@media (max-width: 37.5rem) {
	.section3 {
		display: block;
	}
	ul {
		padding-inline-start: 0px;
	}
	.portfolio-details {
		max-width: calc(100% - 40px);
		width: calc(100% - 40px);
		padding: 15px;
		margin: auto;
	}
}
