:root {
    --overlay-background: rgba(30, 30, 30, 0.95); /* Darker transparent background */
}

body {
    font-family: 'Poppins', sans-serif;
}

.portfolio {
    display: flex;
    gap: var(--gap);
    margin-bottom: 100px;
}

.portfolio-screenshot {
    border-radius: 50%;
    width: clamp(175px, 20vw, 300px);
    height: clamp(175px, 20vw, 300px);
}

.portfolio:nth-child(odd) .portfolio-screenshot {
    order: 1;
}

.portfolio-details {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--primary-color);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    color: var(--text-color);
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    border-radius: 8px;
    border: 1px solid var(--secondary-color);
    opacity: 1;
}

.portfolio-details.active {
    display: block;
}

.btn--expand {
    display: block;
    margin-top: 10px;
    color: var(--secondary-color);
    background: transparent;
    border: 2px solid var(--secondary-color);
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.btn--expand:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
}

@media (max-width: 37.5rem) {
    .section3 {
        display: block;
    }
}