section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 1s;
}

section.in-view {
    opacity: 1;
    transform: translateY(0);
}

#nav-button {
    all: unset;
    outline: revert;
    box-sizing: border-box;
    position: fixed;
    right: 5px;
    bottom: 5px;
    cursor: pointer;
    transition: transform 0.3s; /* Add transition for smooth rotation */
    z-index: 2;
}

 /* Rotated arrow when at the bottom of the page */
#nav-button.rotate {
    transform: rotate(180deg);
}

#nav-button svg {
    fill: var(--dark-icon);
    transition: fill 300ms, rotate 300ms;
    animation: bounce 1.6s infinite cubic-bezier(0.65, 0, 0.35, 1);
}

#nav-button svg:hover {
    fill: var(--light-icon);
}

@keyframes bounce {
    0% {
        translate: 0 0px;
    }
    
    50% {
        translate: 0 -10px;
    }
}